<section class="charts" ng-controller="ChartsController">

<div class="page-header">
    <h1>
      <i class="md md-insert-chart"></i>
      Denuncias por region.
    </h1>
  </div>

  <div class="row">

    <div class="col-sm-12 col-md-12">
      <div class="card line-chart small">
        <div class="card-header">
          <div class="card-title">Denuncias por provincia</div>
        </div>
        <div class="card-content">
            <c3chart bindto-id="donut-plot1-chart">
                <chart-column column-id="San Jose"
                              column-values="700"
                              column-type="donut"/>
                <chart-column ng-click="showCanton()"
                              column-id="Heredia"
                              column-values="350"
                              column-type="donut"/>
                <chart-column column-id="Cartago"
                              column-values="200"
                              column-type="donut"/>
                <chart-column column-id="Puntarenas"
                              column-values="70"
                              column-type="donut"/>
                <chart-column column-id="Limon"
                              column-values="352"
                              column-type="donut"/>
                <chart-column column-id="Guanacaste"
                              column-values="60"
                              column-type="donut"/>
                <chart-column column-id="Alajuela"
                              column-values="156"
                              column-type="donut"/>
                <chart-donut title="Provincias" width="60"/>
                <chart-events on-click-data="showCanton()"/>
            </c3chart>
        </div>
      </div>
    </div>
  </div>

    <div class="row">

        <div class="col-sm-12 col-md-12" ng-show="canton">
            <div class="card line-chart small">
                <div class="card-header">
                    <div class="card-title">Denuncias por canton</div>
                </div>
                <div class="card-content">
                    <c3chart bindto-id="donut-plot2-chart">
                        <chart-column ng-click="showDistrito()"
                                      column-id="San Rafael"
                                      column-values="70"
                                      column-type="donut"/>
                        <chart-column column-id="Heredia"
                                      column-values="350"
                                      column-type="donut"/>
                        <chart-column column-id="Belen"
                                      column-values="60"
                                      column-type="donut"/>
                        <chart-donut title="Cantones" width="60"/>
                        <chart-events on-click-data="showDistrito()"/>
                    </c3chart>
                </div>
            </div>
        </div>
    </div>

    <div class="row">

        <div class="col-sm-12 col-md-12" ng-show="distrito">
            <div class="card line-chart small">
                <div class="card-header">
                    <div class="card-title">Denuncias por distrito</div>
                </div>
                <div class="card-content">
                    <c3chart bindto-id="donut-plot3-chart">
                        <chart-column column-id="Santiago"
                                      column-values="10"
                                      column-type="donut"/>
                        <chart-column column-id="San Rafael"
                                      column-values="53"
                                      column-type="donut"/>
                        <chart-column column-id="La Suiza"
                                      column-values="7"
                                      column-type="donut"/>
                        <chart-donut title="Distritos" width="60"/>
                        <!--<chart-events on-click-data="showClick(data)"/>-->
                    </c3chart>
                </div>
            </div>
        </div>
    </div>

</section>
