<aside class="sidebar fixed">
  <div class="brand-logo">
    <div id="logo">
      <div class="foot1"></div>
      <div class="foot2"></div>
      <div class="foot3"></div>
    </div>
    NotifyMe
  </div>
  <div class="user-logged-in">
    <div class="content">
      <div class="user-name">Admin <span class="text-muted f9">admin</span></div>
      <div class="user-email">admin@admin</div>
    </div>
  </div>
  <ul ng-cloak>
    <a menu-link href="#/dashboard" icon="md md-blur-on">Inicio</a>  
      <li menu-toggle path="/ui-elements" name="Configuración" icon="md md-photo">
            <a menu-link href="#/views/usuarios">Usuarios</a>
            <a menu-link href="#/views/permisos">Permisos</a>
            <a menu-link href="#/views/roles">Roles</a>
            <a menu-link href="#/views/categorias">Categorías</a>
            <a menu-link href="#/views/tiposDenuncia">Tipos de denuncias</a>
            <a menu-link href="#/views/proveedores">Proveedores de servicios</a>
      </li>
    <li menu-toggle path="/forms" name="Reportes y Denuncias" icon="md md-input">
      <a menu-link href="#/maps/full-map">Mapa Digital</a>
      <a menu-link href="#/views/denuncias">Registrar una denuncia</a>
      <a menu-link href="#/views/verDenuncias">Ver denuncias</a>
    </li>
    <li menu-toggle path="/tables" name="Estadísticas" icon="md md-insert-chart">
      <a menu-link href="#/graficos/proveedor">Denuncias Por Proveedor</a>
      <a menu-link href="#/graficos/categoria">Denuncias Por Categoría</a>
      <a menu-link href="#/graficos/tipo-proveedor">Denuncias Por tipo de proveedor</a>
      <a menu-link href="#/graficos/resueltas">Denuncias resueltas.</a>
      <a menu-link href="#/graficos/provincia">Denuncias por provincia.</a>
      <a menu-link href="#/graficos/fecha">Denuncias por fecha.</a>
      <a menu-link href="#/graficos/tipo">Denuncias por tipo.</a>
      <a menu-link href="#/graficos/usuarios">Usuarios más denunciantes.</a>
      <a menu-link href="#/graficos/denuncia-mes">Denuncia del mes.</a>
      <a menu-link href="#/graficos/inicio-resolucion">Fecha inicio y fecha resolución</a>
    </li>
  </ul>
</aside>
